body{
  background:black;
}

/* NAV */

.container-flex {
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
}

/* .navbar{
  display:flex;
justify-content:space-evenly;
} */

.navbar-brand {
  /* justify-content: left; */
  font-size: 60px;
}

.nav-item {
  font-size: 20px;
  /* display:block; */
}

.navbar_list {
  display: flex;
  justify-content: right;
}


/* CONTACT MAIN */

.contactRow{
  height:75vh;
  background-color:grey;
}