body {
  background-color: black;
}


/* NAV */

.nav-container {
  display: flex;
  position: absolute;
  width: 100%;
  /* z-index: 5; */
}

.navbar-row {
  height: 25vh;
  justify-content: space-evenly;
  width: 100%;

}

.navbar-brand {
  font-family: 'Condiment';
  font-size: 60px;
  padding-top: 100px;
  padding-left: 150px;
  text-decoration: none;
}

.nav-item {
  font-size: 30px;
  font-family: 'Condiment';
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-list {
  display: flex;
  position: relative;
  left: 300px;
  top: 100px;
  right: 150px;
}

a {
  color: white;
}

/* CONTACT MAIN */

.contactContainer{
  border-radius: 45px;
  position:relative;
  top:250px;
}
.contactRow{
  height:100vh;
  /* align-content:center; */
}

.contactImage{
  border-radius:400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:auto;
  margin-bottom:auto;
}
/* FOOTER */

footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
}

.footerItem {
  position: relative;
}

@media (max-width: 450px) {
  .navbar-brand {
    font-size: 42px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    padding: 0px;
  }

  .navbar-row {
    height: 15vh;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-list {
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;

    left: 0px;
    top: 0px;
    right: 0px;
  }

  .nav-item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .contactContainer {
    position: relative;
    top: 18vh;
  }

  .contactImage{
    border-radius:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:50%;
    margin-bottom:auto;
  }

}

@media (max-width: 1050px) and (min-width: 451px) {
  .navbar-brand {
    position: relative;
    top: 40%;
    font-size: 80px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    /* margin-top: 30px; */
    padding: 0px;
    width: 100%;
  }

  .navbar-row {
    height: 15vh;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-list {
    position: relative;
      /* top: 80%; */
      /* right: 35%; */
      text-align: center;
      display: inline-block;
      float: none;
      padding: 0px;
      left: 0px;
      right: 0px;
      text-align: center;
      display: inline-block;
      float: none;
      padding: 0px;

  }

  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* .splashContainer {
    position: relative;
    top: 25vh;
  } */
}

@media (max-width: 1050px) and (min-width: 451px) and (orientation:landscape){
  .carouselContainer {
    position:relative;
    top:80%
  }

  .navbar-brand {
    top: 65%;
  }

}

@media (max-width: 850px) and (min-width: 451px) and (orientation:landscape){

  .navbar-brand {
    top: 100%;
  }
}