 body {
   background-color: black;
 }


 /* NAV */

 .container-flex {
   margin: 15px;
   display: flex;
   justify-content: space-evenly;
 }

 /* .navbar{
   display:flex;
justify-content:space-evenly;
 } */

 .navbar-brand {
  font-family: 'Condiment';
       font-size: 60px;
   float: left;
 }

 .nav-item {
   font-size: 20px;
   /* display:block; */
   float: right;
 }

 .navbar_list {
   display: flex;
   justify-content: space-between;
 }

/* SPLASH PAGE CONTAINER */

.splashContainer{
  border-radius:25px;

}
.splashRow1, .splashRow2 {
  display:flex;
background-color:grey;
height:40vh;
}

.splashRow1 {
  background-image:url("./images/modesty-photo-u1.jpg");
  text-align:center;

}

.row1Text, .row2Left, .row2Right {
font-size:50px;
color:white;
font-family: 'Condiment';
padding-top:20%;
}

.splashCol1{
  border-radius:25px;
  text-align:center;

  background-image:url("./images/hair-sculpture-1.jpeg");
  background-size:contain;

}

.splashCol2{
  text-align:center;

  background-image:url("./images/Coderch-Malavia-sculptors-16.jpg");


}










 /* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */