body {
  background-color:white;
}


/* NAV */

.nav-container {
  display: flex;
  position: absolute;
  width: 100%;
  /* z-index: 5; */
}

.navbar-row {
  height: 25vh;
  justify-content: space-evenly;
  width: 100%;

}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  padding-top: 100px;
  padding-left: 150px;
  text-decoration: none;
}

.nav-item {
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-title:hover, .splashColLink:hover, .nav-item:hover{
  text-decoration: none;
 }

.navbar-list {
  display: flex;
   /* position: relative; */
   /* top: 100px; */
   padding-top: 100px;
   padding-left: 250px;
}

a {
  color: black;
}

.nav-img {
  float:right;
  width:200px;
  position:relative;
  /* margin-left:40px; */
  left:155px;
  bottom:50px;
  /* border-radius:50px; */
}

/* CARDS */

.cardContainer{
  display:flex;
  position: relative;
  top: 250px;
}

.cardContainer1, .cardContainer2, .cardContainer3, .cardContainer4{
justify-content:space-around;
}

.cardContainer2, .cardContainer3, .cardContainer4 {
  margin-top:30px;
}

.cardContainer4{
  margin-bottom:60px;
}

.card{
  border-radius:25px;
  width:20vw;
}

.card-img-top{
  width:100%;
  border-radius:25px;
  max-height: 22em;
}

.card-link, .card-title{
  text-align:center;
}

.card-name{
  font-size:30px;
  font-family: 'Libre Baskerville', serif;

}

.card-dimensions{}

/* FOOTER */

footer {
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  z-index:15;
}

.footerItem {
  position: relative;
}

/* IPAD RESPONSIVENESS */
@media (max-width: 1050px) and (min-width: 451px) {
  .navbar-brand {
    position: relative;
    top: 40%;
    font-size: 50px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    /* margin-top: 30px; */
    padding: 0px;
    width: 100%;
  }

  .navbar-row {
    height: 15vh;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-list {
    position: relative;
    top: 100px;
    /* right: 35%; */
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;
  }


  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sculpturesContainer {
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
    /* top:25vh; */
  }

  .nav-img{
    display:none !important;
  }
  .card-name{
    font-size:20px;
  }

  .card-img-top{
    width:100%;
    border-radius:25px;
    max-height: 15em;
  }

  
}

/* IPAD - LANDSCAPE */
@media (max-width: 1050px) and (min-width: 451px) and (orientation:landscape) {
  .navbar-brand {
    position: relative;
    top: 40%;
    font-size: 50px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    /* margin-top: 30px; */
    padding: 0px;
    width: 100%;
    /* flex:wrap; */
  }

  .navbar-row {
    height: 15vh;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-list {
    position: relative;
    /* top: 80%; */
    /* right: 35%; */
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;
    top: 45px;
  }

  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .carouselContainer {
    position: relative;
    top: 80%
  }

  /* .navbar-brand {
    top: 65%;
  } */

  .sculpturesContainer {
    margin-top:10px;
    margin-bottom:10px;
    /* margin-top:100px; */
  }

  .splashContainer {
    position: relative;
    top: 180px;
  }
.cardContainer1{
  position: relative;
    top: 180px;
}
  .aboutContainer{
    position: relative;
    top: 180px;
  }
  .contactContainer{
    position: relative;
    top: 180px;
  }

}

/* MOBILE RESPONSIVENESS */
@media (max-width: 450px) {
  .navbar-brand {
    font-size: 35px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    padding: 0px;
  }

  .navbar-row {
    height: 15vh;
    text-align: center;
    margin: 0 auto;
  }

  .navbar-list {
    text-align: center;
    display: inline-block;
    float: none;
    padding: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
  }

  .nav-item {
    padding-left: 5px;
    padding-right: 5px;
    font-size:22px;

  }

  .sculpturesContainer {
    position: relative;
    top:18vh;
    border-radius: 25px;
    margin-top:10px;
    margin-bottom:10px;
    /* margin-top:100px; */
  }

  .allSculpturesContainer {
    border-radius: 45px;
    position: relative;
    top: 0px;
  }

  .cardContainer{
    flex-wrap:wrap;
    top:18vh;
  }
  .card{
width:100vw;  
padding-left:10px;
padding-right:10px;
}

.nav-img{
  display:none !important;
}

}

/* IPHONE 5 OR SMALLER PROTRAIT */
@media (max-width: 320px) {
  .navbar-brand {
    font-size: 25px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    padding: 0px;
  }

  .cardContainer1{
    top:20vh;
  }

  .card{
    width:100vw;  
    padding-left:10px;
    padding-right:10px;
    }
 }

@media (max-width: 850px) and (min-width: 451px) and (orientation:landscape){

  .navbar-brand {
    /* top: 100%; */
  }

  .navbar-list {
    /* top:100px; */
  }
}

 /* IPAD PRO - LANDSCAPE */
@media (max-width: 1400px) and (min-width: 1100px) and (orientation:landscape){
  .splashContainer {
    position: relative;
    top: 250px;
  }

  .navbar-brand {
    top: 65%;
    padding-left: 100px;
  }

  .nav-img{
    display:block;
    width:100px;
    left:25px;
    bottom:20px;
    }

  .nav-img-hidden{
    display: none !important;
     height:55%;
   }

   .hiddenImageRow{
     position:relative;
     justify-content:center;
     display:flex;
     top:35vh;
   }

  .hiddenContainer{
    height: 20vh;
     margin-bottom:0px;
  }
  
  .navbar-list {
    display: flex;
    position: relative;
    left: 15px;
    /* top: 100px; */
    right: 150px;
    padding-left: 0px;
  }
}

/* MODAL */

#myImg1, #myImg2, #myImg3, #myImg4, #myImg5,
#myImg6, #myImg7, #myImg8, #myImg9, #myImg10,
#myImg11, #myImg12, #myImg13, #myImg14, #myImg15 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover,
#myImg6:hover, #myImg7:hover, #myImg8:hover, #myImg9:hover, #myImg10:hover,
#myImg11:hover, #myImg12:hover, #myImg13:hover, #myImg14:hover, #myImg15:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal1, .modal2, .modal3, .modal4, .modal5,
.modal6, .modal7, .modal8, .modal9, .modal10,
.modal11, .modal12, .modal13, .modal14, .modal15 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption1, #caption2, #caption3, #caption4, #caption5,
#caption6, #caption7, #caption8, #caption9, #caption10,
#caption11, #caption12, #caption13, #caption14, #caption15 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption1, #caption2, #caption3, #caption4, #caption5,
#caption6, #caption7, #caption8, #caption9, #caption10,
#caption11, #caption12, #caption13, #caption14, #caption15  {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close1, .close2, .close3, .close4, .close5,
.close6, .close7, .close8, .close9, .close10,
.close11, .close12, .close13, .close14, .close15 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus,
.close6:hover,
.close6:focus,
.close7:hover,
.close7:focus,
.close8:hover,
.close8:focus,
.close9:hover,
.close9:focus,
.close10:hover,
.close10:focus,
.close11:hover,
.close11:focus,
.close12:hover,
.close12:focus,
.close13:hover,
.close13:focus,
.close14:hover,
.close14:focus,
.close15:hover,
.close15:focus  {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#caption1, #caption2, #caption3, #caption4, #caption5,
#caption6, #caption7, #caption8, #caption9, #caption10,
#caption11, #caption12, #caption13, #caption14, #caption15
{
  font-size:25px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
